body {
    font-family: Arial;
    max-width: 1200px;
    margin: auto;
    background-color: #2c2c2c;
}

.header {
    display: flex;
    width: 100%;
    background-color: #3a3a3a;
    border-radius: 10px;
}

.header > ul {
    display: flex;
    padding: 0;
    justify-content: space-between;
    margin: auto;
    list-style: none;
    width: 100%;
    border-radius: 50px;
}

.header > ul > li {
    display: flex;
    align-items: center;
    padding: 0;
    text-align: center;
    font-size: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.header > ul > li > a {
    display: flex;
    text-decoration: none;
    color: #64b5f6;
    padding: 15px 95px;
    align-items: center;
    justify-content: center;
}

.header > ul > li:hover {
    background-color: #2196f3;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.header > ul > li:hover > a {
    color: white;
}

.main {
    margin-left: 80px;
    margin-top: 30px;
}

.main > p {
    color: #64b5f6;
    font-size: 40px;
    margin-left: 390px;
}

.main img {
    height: 400px;
    width: 400px;
    margin-top: 100px;
    margin-left: 310px;

}
footer {
    background-color: #2c2c2c;
    color: #64b5f6;
    text-align: center;
    padding: 30px;
    margin-top: 100px;
    font-size: 16px;
    border-top: 2px solid #2196f3;
}
.footer{
    margin-top: 215px;
    width: 100%;
    text-align: center;
    color: #64b5f6;
    padding: 15px 0 15px 0;

}
.Footer {
    background-color: #3a3a3a;
    margin-left:-350px;
    margin-right: -350px;

}